   
    <h2>Seja bem vindo ao Cadastro de Cliente.</h2>
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <h3>Cliente Novo.</h3>
          <p>Ainda não possui um cadastro em nosso site? <a href="/register">Faça o cadastro aqui neste link</a>!

          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <h3>Já possui um Cadastro
          </h3>
          <p>Já possui um cadastro em nosso site? <a href="/login">Então faça login aqui!</a>
          </p>
        </div>
      </li>
    <% if(req.session.authenticated && req.session.passport.isAdmin ) {%>
      <li class="clearfix">
        <div class="step">
          <h3>Função Administrativa Clientes
          </h3>
          <p>Veja a lista de todos os nossos clientes
          </p>
        </div>
      </li>
    <% } %>
    </ul>
    