    <h2>Seja bem vindo ao Cadastro de Cliente.</h2>
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <h3>Cadastro.</h3>
          <p>Ainda não possui um cadastro em nosso site? <a href="/register">Faça o cadastro aqui neste link</a>!
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            Lift your app.
          </h3>
          <p>
            Run <code>sails lift</code> to start up your app server.  If you visit <a target="_blank" href="http://localhost:<%= sails.config.port || 1337%>/user"><code>http://localhost:<%= sails.config.port || 1337%>/user</code></a> in your browser, you'll see a <a href="http://sailsjs.org/#!/documentation/reference/blueprint-api">WebSocket-compatible</a> user API.
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>
            Dive in.
          </h3>
          <p>Blueprints are just the beginning.  You'll probably also want to learn how to customize your app's <a href="http://sailsjs.org/#!/documentation/concepts/Routes">routes</a>, set up <a href="http://sailsjs.org/#!/documentation/concepts/Policies">security policies</a>, configure your <a href="http://sailsjs.org/#!/documentation/reference/sails.config/sails.config.connections.html">data sources</a>, and build custom <a target="_blank" href="http://sailsjs.org/#!/documentation/concepts/Controllers?q=actions">controller actions</a>. For more help getting started, check out the links on this page.</p>

        </div>
      </li>
    </ul>
    